:root {
    --primary: grey;
    --secondary: white;
  }

.container-provider-webid{
    max-width: 700px;
    max-height: 700px;
    margin: 7%;
    padding:3%;
    background-color:var(--primary);
    border-radius: 15%;
    width: 80%;
    height: 60%;
    
}


.provider-title{
    color:var(--secondary);
    margin:0px;
    font-size: min(100px, 6vw);
    
}

.provider-select{
    color:var(--primary);
    background-color:var(--secondary);
    border-radius: 70vh;
    height:10%;
    text-align-last:center;
    font-size:min(60px, 6vw);
    width: 100%
}
.divisor{
    text-align-last:center;
    display:inline-block;
    height: 1vh;
    margin-top:2%;
    margin-bottom: 6%;

}
.divisor-line{
    width: 30%;
    height: 0;
    border: 1px solid var(--secondary);
    margin: 2%;
    display:inline-block;
}

.divisor-text{
    font-size:max(13px, 2.5vw);
    margin:0;
    color: var(--secondary);
    
}

.webid-title{
    color:var(--secondary);
    font-size:min(100px, 6vw);
    margin-bottom: 2%;
    
}

.webid-input{
    max-height: 90px;
    color: var(--primary);
    background-color:var(--secondary);
    border:0px solid var(--secondary);
    border-radius: 70vh;
    text-align-last:center;
    font-size: 6vw;
    height: 10%;
    width: 100%
}

.container-buttons{
    margin-top: 4vh;
    align-content: center
}
.registerButton{
    max-width: 800px;
    border: 1px solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    border-Radius: 20vw;
    width: 80vw;
    margin-bottom: 2vh;
    height: 20%;
    font-size:min(80px,4vw);
}

.loginButton{
    max-width: 800px;
    border: 1px solid var(--primary);
    background-Color: var(--primary);
    color: var(--secondary);
    border-radius: 20vw;
    width: 80vw;
    height: 20%;
    font-size:min(80px,5vw);
}

