
:root {
  --primary: rgb(128, 
    128, 
    128
  );
  --secondary: rgb(255, 
    255, 
    255
  );
}

.friends-webid-title {
  color: var(--secondary);
  margin: 0px;
  font-size: 6vw;
}

.friends-webid-input {
  min-height: 30px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 0.04em solid var(--primary);
  border-radius: 70vh;
  height:3.5em;
  text-align-last:center;
  font-size: 1.2em;
  width: 88%;
  outline: none;
}

.container-buttons {
  margin-top: 4vh;
  align-content: center
}

.prueba ul {
  padding: 0;
  list-style-type: square;
  padding-inline-start: 0;
  margin: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

h2 {
  text-align-last: center;
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0;
}

#botonOpcionP {
  color: var(--secondary);
  background-color: var(--primary);
}
.link {
  text-decoration: none;
}
.link:visited {
  color: white;
}
#botonOpcionD {
  color: red;
  background-color: var(--secondary);
}

.buttoncard {
  width: 50%;
  height: 6vh;
  border: none;
  display: inline-block;
  border-top: 1px solid var(--primary);
  border-radius: 0em;
}

.hola {
  color: #17a2b8;
}

.right {
  float: right;
}

/* Resize the wrap to see the search bar change! */

.iconSearch {
  margin-right: 0.2em;
  color: rgb(255, 255, 255);
}

.search {
  width: 100%;
  display: inline-block;
  background-color: var(--primary);
  border-Radius: 20vw;
  margin-top: 1.2em;
  height:4.2em;
  text-align:center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #495c5f;
  border-right: none;
  padding: 5px;
  height: 2.3em;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  background-color: #f8f9fa;
}

.searchButton {
  width: 12%;
  height: 2.96em;
  border: 1px solid var(--primary);
  background: var(--primary);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-Radius: 20vw;
}

.amigos {
  background-color: var(--secondary);
  color: var(--primary);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  font-size: 1.8em;
  display: block;
  height: 6vh;
  text-align: center;
}

.botones {
  display: inline-block;
  width: 100%;
  color: var(--secondary);
  margin:none;
}
.card {
  border: 0.07em solid black;
}

.prueba {
  background-color: var(--secondary);
  display: grid;
}

html {
  background-color: var(--primary);
}
