html,
html body {
    height: 100%;
    overflow-x: hidden;
    text-align: justify;
    word-wrap: break-word;
}

.card {
    max-width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    border: none
}

.botonLogout:hover {
    opacity: 0.7;
}

.edit {
    padding: 10px;
    border-radius: 5em;
    width: 130px;
    margin: 0 auto;
    display: block;
}

.botonLogout {
    background-color: rgb(109, 42, 42);
    width: 150px;
    height: 50px;
    border-radius: 20em;
    text-align: center;
}

.logout {
    color: white;
}

.line {
    border-top: 5px solid rgb(119, 111, 111);
}

.perfil-span {
    color: rgb(119, 111, 111);
    font-size: 19px;
}

.perfil {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    border-radius: 50em;
}

.miPerfil {
    font-size: 30px;
    color: rgb(119, 111, 111);
    text-align: center;
    font-weight: bold;
}

.text {
    font-size: 16px;
    color: black;
}

.fixed {
    text-align: center;
}

.line {
    border-top: 2px solid rgb(119, 111, 111);
}

.inputEdit {
    text-align: center;
}

.inputEdit::-webkit-input-placeholder {
    color: black;
    /*Change the placeholder color*/
    opacity: 1;
    /*Change the opacity between 0 and 1*/
}